/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

footer {
  padding-top: 10px;
  font-size: 12px;
}

$brand-primary: #ff0033;
$grid-gutter-width: 30px;
$container-desktop: ((640px + $grid-gutter-width));
$container-large-desktop: ((500px + $grid-gutter-width));

@import "bootstrap";

h4 {
  color: $gray-light;
}
