// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.archive, .archive h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #030303;
}

.archive-bookmark {
  margin-bottom: 20px;
}

.archive-bookmark-email-date {
}

.archive-bookmark-link {
  line-height: 20px;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.archive-bookmark-date {
  font-size: 13px;
  color: #999;
}
