// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.archive {
  margin-top: 20px;
}

.archive-bookmark {
  margin-bottom: 20px;
}

.archive-bookmark-date {
  font-size: 13px;
  padding-top: 5px;
  color: #999;
}
